<div class="container-fluid">
	<div class="row">
		<div class=" col-xs-12 well text-center">
						<%= image_tag("icentrislogo.png") %>			
			<h3>Addressbook</h1>
			<p>by Matt Cain</p>
		</div>
	</div>
</div>

