<p id="notice"><%= notice %></p>

<h1>iCentris Address Book</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <%= render 'contact' %>
  </tbody>
</table>

<br>

<%= render 'form' %>
